<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="/use_sim_time" value="true" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find gnss_compass)/rviz/rviz.rviz"/>

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="75723.6287 92442.1873 55.5 0 0 0 map base_link 10"/>
  <include file="$(dirname)/nmea_converter.launch"/>
  <include file="$(find gnss_compass)/launch/gnss_compass.launch">
      <arg name="input_main_gnss_topic" default="/main/mosaic/gga" doc="Main gnss topic"/>
      <arg name="input_sub_gnss_topic" default="/sub/mosaic/gga" doc="Sub gnss topic"/>
      <arg name="output_pose_topic" default="gnss_pose" doc="Estimated self position" />
  </include>

</launch>