/**:
  ros__parameters:
    use_sim_time: true
    # Map frame
    map_frame: "map"
    # Vehicle reference frame
    base_frame: "base_link"
    # Whether the position coordinates should be in mgrs or in the plane rectangular coordinate system
    use_mgrs: true
    # plane rectangular number
    plane_num: 7
    # Whether sensor_frame name is specified in yaml or not
    use_change_of_sensor_frame: true
    # If use_change_of_sensor_frame is true, the following is used for sensor_frame to base_link tf conversion.
    sensor_frame: "gnss"
    # Main gnss antenna data acquisition cycle
    # If the time difference between main and sub is 1/gnss_frequency[sec], no calculation is performed.
    gnss_frequency : 50.0
    # 0 : nmea_msgs/Gpgga  1 : sensor_msgs/NavSatFix
    input_gnss_type : 0
    # Upper and lower limits of staratus using GNSS if input_gnss_type is 0
    min_gnss_status : 4
    max_gnss_status : 4
    # Minimum covariance of the pose topics to be published [m^2] if input_gnss_type is 1
    fix_covariance_thershold : 0.01
    # Tolerance for the difference between the timestamps of the two antennas [sec]
    time_threshold : 0.03
    # Yaw bias between the direction of travel and the vector created between the antennas
    yaw_bias: 0.0
    # Minimize number of ROS_WARN
    use_simple_roswarn : true
    use_beseline_outlier_detection : false
    # Distance between antennas in three dimensions [m]
    baseline_length: 1.00
    # If the calculated baseline length has an error greater than or equal to this threshold,
    # it is determined to be a missed FIX [m]
    allowable_baseline_length_error: 0.20
    # If the number of times that pose is not calculated consecutively exceeds this value, an error is output by diagnostics.
    max_skipping_publish_num: 10
